<!-- PÁGINA PARA AGREGAR LIBROS (base de datos) -->






<!-- HERENCIA DE TEMPLATES: padre.html -->
{% extends "AppBookeria/padre.html" %}

{% load static %} <!-- necesario para cargar archivos estáticos como css, imágenes, etc -->



<!-- BLOQUE VENTANA (cambiar título de la ventana) -->
{% block ventana %}
    Registrar libro
{% endblock %}




<!-- BLOQUE TITLE (cambiar título de la página) -->
{% block title %}

<!-- Contenedor: TÍTULO DE LA PÁGINA (encabezado) -->
<div class="bg-black bg-opacity-70 p-12 mb-5 text-center">

    <!-- Título -->
    <h1 class="text-white text-5xl tm-logo-font mb-5">
        Agregar libros
    </h1>

    <!-- Párrafo con links -->
    <p class="text-white leading-8 text-sm font-light">

        ¿Quieres realizar una b&uacute;squeda por t&iacute;tulo? Haz clic
        <a rel="nofollow" href="{% url 'BuscarTitulo' %}">aqu&iacute;</a>

        <br>

        ¿Quieres realizar una b&uacute;squeda por autor? Haz clic
        <a rel="nofollow" href="{% url 'BuscarAutor' %}">aqu&iacute;</a>
        
        <br>

        ¿Quieres realizar una b&uacute;squeda por editorial? Haz clic
        <a rel="nofollow" href="{% url 'BuscarEditorial' %}">aqu&iacute;</a>

    </p>
    
</div>



<!-- Contenedor: formulario para agregar libros -->
<div class="flex-1 rounded-xl p-12 pb-14 m-5 bg-black bg-opacity-70 tm-item-container mx-auto">

    <!-- Formulario -->
    <form action="" method="POST" class="text-lg">
        
        {% csrf_token %}


        <!-- Entrada de titulo -->
        <input type="text" name="titulo" class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold" placeholder="Titulo"/>
        
        <!-- Entrada de autor -->
        <input type="text" name="autor" class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold" placeholder="Autor"/>

        <!-- Entrada de editorial -->
        <input type="text" name="editorial" class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold" placeholder="Editorial"/>

        <!-- Entrada de stock -->
        <input type="number" name="stock" class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold" placeholder="Stock"/>

        <!-- Entrada de precio -->
        <input type="text" name="precio" class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold" placeholder="Precio"/>

        <!-- Entrada de oferta -->
        <input type="text" name="oferta" class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold" placeholder="Oferta (agregar simbolo %)"/>

        
        <!-- Contenedor: "Botón" Enviar -->
        <div class="text-right">
            
            <!-- Input de envío de datos -->
            <input type="submit" value="Enviar" class="text-right text-white hover:text-yellow-500 transition" style="background-color: rgba(0,0,0,0.0); cursor: pointer;">   
        </div>
        
    </form>
    
</div>
{% endblock %}
<!-- --------------------------------------- -->