<!-- PÁGINA LIBROS (navbar) -->






<!-- HERENCIA DE TEMPLATES: padre.html -->
{% extends "AppBookeria/padre.html" %}

{% load static %} <!-- necesario para cargar archivos estáticos como css, imágenes, etc -->



<!-- BLOQUE VENTANA (cambiar título de la ventana) -->
{% block ventana %}
    Libros
{% endblock %}




<!-- BLOQUE TITLE (cambiar título de la página) -->
{% block title %}

<!-- Contenedor: TÍTULO DE LA PÁGINA (encabezado) -->
<div class="bg-black bg-opacity-70 p-12 mb-5 text-center">

    <!-- Título -->
    <h1 class="text-white text-5xl tm-logo-font mb-5">
        Libros
    </h1>
    
</div>


<!-- Contenedor: párrafo introductorio a la página -->
<div class="bg-black bg-opacity-70 p-10 mb-5">

    <!-- Párrafo -->
    <p class="text-white leading-8 text-sm font-light">
        Cantidad variada de g&eacute;neros, como fantas&iacute;a, autoayuda, kpop, etc&eacute;tera.
    </p>

</div>




<!-- Contenedor: Link Explorar para acceder a la sección más rápido -->
<div class="text-center">

    <!-- Sub contenedor -->
    <div class="inline-block">

        <!-- Link -->
        <a href="#menu" class="flex justify-center items-center bg-black bg-opacity-70 py-6 px-8 rounded-lg font-semibold tm-text-2xl tm-text-gold hover:text-gray-200 transition">
            <i class="fas mr-3"></i>
            <span>Explorar...</span>                        
        </a>

    </div>   

</div> 
{% endblock %}
<!-- --------------------------------------- -->





<!-- BLOQUE SECTION1 (sección después del header) -->
{% block section1 %}


<!-- Contenedor principal: DIRIGIRSE A BÚSQUEDA DE LIBROS -->
<div id="menu" class=" py-1" data-parallax="scroll" data-image-src="{% static 'AppBookeria/img/fondo01.png' %}">


    <!-- Sub contenedor -->
    <div class="container mx-auto py-24 sm:py-48" style="width: 800em; color: white;">


        <!-- Sub contenedor -->
        <div class="mb-16 px-4 bg-white py-4 rounded-md" style="width: 35em; margin-left: 50em;">

            <!-- Título -->
            <h1 class="px-4 text-4xl tm-text-brown font-semibold" style="width: 13em; text-decoration: underline #544639;">
                Sistema BASE DE DATOS
            </h1>


            <!-- Párrafo con link -->
            <p class="tm-text-brown text-2xl py-2 mt-5 font-medium">
                Agregar libros...
                <a href="{% url 'AgregarLibros' %}" class="px-4 al" style="background-color: #ca8642;">
                    Ir
                </a>
            </p>


            <!-- Párrafo con link -->
            <p class="tm-text-brown text-2xl py-2 mt-5 font-medium">

                Buscar libros... (t&iacute;tulo)
                <a href="{% url 'BuscarTitulo' %}" class="px-4 al" style="background-color: #ca8642;">
                    Ir
                </a>
            </p>


            <!-- Párrafo con link -->
            <p class="tm-text-brown text-2xl py-2 mt-5 font-medium">

                Buscar libros... (autor)
                <a href="{% url 'BuscarAutor' %}" class="px-4 al" style="background-color: #ca8642;">
                    Ir
                </a>
            </p>


            <!-- Párrafo con link -->
            <p class="tm-text-brown text-2xl py-2 mt-5 font-medium">

                Buscar libros... (editorial)
                <a href="{% url 'BuscarEditorial' %}" class="px-4 al" style="background-color: #ca8642;">
                    Ir
                </a>
            </p>


            <!-- Párrafo con link -->
            <p class="tm-text-brown text-2xl py-2 mt-5 font-medium">

                Ver libros registrados...
                <a href="{% url 'ListaLibros' %}" class="px-4 al" style="background-color: #ca8642;">
                    Ir
                </a>
            </p>

        </div>
        <!-- /Sub contenedor: LINK -->


        

        <!-- Sub contenedor: link ir al principio -->
        <div class="text-center text-3xl">
            <a href="#intro" class="bg-white py-6 inline-block rounded-md books"
                style="background-color: rgba(0,0,0,0.7); color: #cc9966; padding: 0.5em 0.9em; cursor: pointer;">
                Ir al principio...
            </a>
        </div>
        
    </div>
    <!-- /Sub contenedor -->



</div>
<!-- /Contenedor principal -->


{% endblock %}