<!-- PÁGINA PARA VISUALIZAR RESULTADOS DE UNA BÚSQUEDA DE LIBROS (editorial) -->






<!-- HERENCIA DE TEMPLATES: padre.html -->
{% extends "AppBookeria/padre.html" %}
{% load static %}



<!-- BLOQUE VENTANA (cambiar título de la ventana) -->
{% block ventana %}
    B&uacute;squeda editorial
{% endblock %}





<!-- BLOQUE TITLE (cambiar título de la página) -->
{% block title %}
<!-- Contenedor: Título de la página (encabezado) -->
<div class="bg-black bg-opacity-70 p-12 mb-5 text-center">
    <h1 class="text-white text-5xl tm-logo-font mb-5">
        Resultado b&uacute;squeda (editorial)
    </h1>

    <!-- Párrafo con link: REDIRECCIONAR A PÁGINA DE AGREGAR LIBRO -->
    <p class="text-white leading-8 text-sm font-light">
        ¿Quieres agregar otro libro? Haz clic
        <a rel="nofollow" href="{% url 'AgregarLibros' %}">aqu&iacute;</a>

        <br> <br>

        ¿Quieres realizar una b&uacute;squeda por t&iacute;tulo? Haz clic
        <a rel="nofollow" href="{% url 'BuscarTitulo' %}">aqu&iacute;</a>

        <br>

        ¿Quieres realizar una b&uacute;squeda por autor? Haz clic
        <a rel="nofollow" href="{% url 'BuscarAutor' %}">aqu&iacute;</a>
    </p>

</div>


<!-- Contenedor: Link Explorar para acceder a la sección más rápido -->
<div class="text-center">


    <!-- Sub contenedor -->
    <div class="inline-block">

        <!-- Link -->
        <a href="#menu" class="flex justify-center items-center bg-black bg-opacity-70 py-6 px-8 rounded-lg font-semibold tm-text-2xl tm-text-gold hover:text-gray-200 transition">
            <i class="fas mr-3"></i>
            <span>Explorar...</span>                        
        </a>

    </div>   

</div> 
{% endblock %}
<!-- --------------------------------------- -->











<!-- BLOQUE SECTION1 (sección después del "header") -->
{% block section1 %}

<!-- Contenedor pincipal: LISTADO DE LIBROS -->
<div id="menu" class=" py-1" data-parallax="scroll" data-image-src="{% static 'AppBookeria/img/fondo01.png' %}">

    <!-- Sub contenedor -->
    <div class="container mx-auto py-24 sm:py-48" style="width: 800em; color: white;">

        <!-- Sub contenedor: LISTADO DE LIBROS -->
        <div class="mb-16 px-4 bg-white py-2 rounded-md">

            <!-- Título -->
            <h1 class="px-4 text-4xl tm-text-brown font-semibold text-center" style="text-decoration: underline #544639;">
                Listado libros (Editorial)
            </h1>

            <!-- Párrafo: listado -->
            {% for libro in libros %}

                <p class="tm-text-brown text-xl py-2 mt-5 font-normal" style="background-color: white; padding-left: 0.9em; padding-right: 0.9em; border-bottom: 1px solid #544639; padding-bottom: 0;">
                    <b>Editorial:</b> <u>{{libro.editorial}}</u> <br> <br>
                    <b>Titulo:</b> {{libro.titulo}} <br>
                    <b>Autor:</b> {{libro.autor}} <br>
                    <b>Stock:</b> {{libro.stock}} <br>
                    <b>Precio:</b> {{libro.precio}}
                </p>

            {% endfor %}
        </div>
        <!-- /Sub contenedor: LISTADO -->


        

        <!-- Sub contenedor: link ir al principio -->
        <div class="text-center text-3xl mt-5">
            <a href="#intro" class="py-6 inline-block rounded-md books"
                style="background-color: rgba(0,0,0,0.7); color: #cc9966; padding: 0.5em 0.9em; cursor: pointer;">
                Ir al principio...
            </a>
        </div>

        
    </div>
    <!-- /Sub_contenedor -->


</div>
<!-- /Contenedor principal -->


{% endblock %}
